@import url('https://fonts.googleapis.com/css?family=Jua');

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-wrapper {
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 15px 19px 32px -10px rgba(21,19,19,.07);
}

.dust-title {
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-family: 'Jua', sans-serif;
    color: #333;
}

.dust-titls-district {
    font-weight: bold;
    color: #596275;
}

.dust-info-4 {
    font-size: 80px;
    text-align: center;
    font-family: 'Jua', sans-serif;
    font-weight: bold;
    color: #e15f41;
}

.dust-info-3 {
    font-size: 80px;
    text-align: center;
    font-family: 'Jua', sans-serif;
    font-weight: bold;
    color: #f5cd79;
}

.dust-info-2 {
    font-size: 80px;
    text-align: center;
    font-family: 'Jua', sans-serif;
    font-weight: bold;
    color: #596275;
}

.dust-info-1 {
    font-size: 80px;
    text-align: center;
    font-family: 'Jua', sans-serif;
    font-weight: bold;
    color: #778beb;
}

.dust-info-list-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dust-info-list-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
}

.dust-info-ul {
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    padding-left: 15px;
}

.facebook-share-btn {
    background: #fff;
    color: #778beb;
    padding: 10px 5px;
    border-radius: 15px;
    border: none;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.facebook-share-btn:hover {
    box-shadow: 0 16px 36px 0 rgba(21,19,19,.15);
    transition: .4s;
}
